[Unit]
Description=MX RPI Bridge Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/mxr/bridge/mxbridge

[Install]
WantedBy=multi-user.target